.App {
  max-width: 600px;
  margin: 0 auto;
  top: 0;
  height: 100vh;
}

input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  height: auto;
  overflow-wrap: break-word;
  width: 70%;
  min-height: 3em;
  font-size: 2em;
  text-align: center;
  align-items: center;
}

.form {
  height: 100em;
  display: inline;
  position: relative;
  line-height: 2em;
}